# artifacts
__pycache__
.pytest*
.ruff_cache
*.egg-info
*/build/*
*/dist/*


# misc
.coverage
.vscode
.venv*
coverage.xml

# config
.env

# Home Assistant configuration
config/*
!config/configuration.yaml
